.container
{
    padding-left:20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav_1
{
    background-color: rgb(242, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 35px;
    
    
}
#contact
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: small;
}
#smedia
{
    display: flex;
    justify-content: space-between;
    gap: 4px;
}
.nav_2
{
    height: 50px;
    background-color: rgb(208, 208, 208);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
li
{
    display: inline;
    margin-right: 25px;
    
}
a
{
    text-decoration: none;
    color: black;
}

#sec_text
{
    position: relative;
    bottom: 390px;
    
    width: fit-content;
    margin-left: 90px;
    top: -400px;


}
.sec_1a
{
   position: relative;
   background-color: aquamarine;
   
    
}

#p1
{
    margin-top: 10px;
}
.b1
{
    background-color:rgb(17, 164, 172) ;
    width: 40%;
    padding-top: 9px;
    padding-left: 14px;
}
.button1
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 25px;
}
#a1
{
    display: flex;
    justify-content: center;
}
.b2
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
}
#a1
{
    padding-top: 10px;
    text-decoration: underline;
}

.grid-container {
    

    
    border: 1px black solid;
    width: 900px;
    
    border-radius: 5px;
    position: relative;
    background-color: white;
    left: 130px;
    top: -320px;
    

  }
  .box{
    display: grid;
    column-gap: 5px;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5px;
    padding: 20px 20px 20px 20px;

  }
  
  
  #confirm
  {
    background-color:#17C1A3;
    
  }
  .input_box{
    width: 250px;
    height: 30px;
  }
  .cards1
  {
        display: flex;
        justify-content: center;
        gap: 25px;
  }
  .cards1 img
  {
    width: 370px;
    height: 270px;
  }
  .cards1_main
  {
    margin-top: -200px;
  }
  .cards1 a{
    color: rgb(9, 207, 154);
    text-decoration: underline;
  }
  
  .cards2
  {
    background-image: url('Assets/card2.png'); 
    background-size: cover;
    background-position: center;
    margin-top: 210px;
  }
  .cards2_textbox
  {
        padding-top: 250px;
        padding-left:700px ;
        position: relative;
        bottom: 180px;

  }
  .card3_dp
  {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .card3_dp img
  {
    width: 280px;
    height: 300px;
  }
  .card3{
text-align: center; 
margin-top: 150px;}
.card3 button{
    background-color:#17C1A3;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 100px;
}
.card4_pic
{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
.card4_pic img{
    width: 377px;
}
.card_4{
    margin-top: 100px;
}
.card5_pic
{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
   
}
.card5_pic img
{
    position: relative;
    width: 380px;
   
    top: -170px;
    margin-left: -10px;
    
    left: 10px;
}
.card5{
    margin-top: 100px;
    
 
}
.blue
{
    background-color: rgb(199, 208, 247);
    margin-top: 350px;
    margin-left: -50px;
    margin-right: -50px;
}
.card5 h4{
    font: 160px;
    position: relative;
    top: -170px;
}
.whitebox
{
    background-color: white;
    width: 1100px;
    height: 150px;
    position: relative;
    bottom: 100px;
    left: 80px;
    right: 80px;
}
.whitebox_text
{
    position: relative;
    left: 70px;
    top: 40px;
}
.whitebox img{
    margin-left: 90px;
    margin-top: 50px;
}
#footer_logo
{
    width: 180px;
    height: 60px;
    position: relative;
    top: 100px;
    left:70px
}
#footer_text
{
    width: 320px;
    height: 100px;
    font-size: small;
    color: rgb(140, 143, 143);
    position: relative;
    top: 110px;
    left:70px
}

#footer_table1{
    position: relative;
    left: 500px;
    
}
#footer_table2
{
    position:relative;
    left: 750px;
    top: -144px;
}

#footer_table1 table {
    border-collapse: collapse;
    /* width: 100%; */
}
#footer_table1 table td {
    padding: 1px 10px; 
}

#footer_table2 table {
    border-collapse: collapse;
    /* width: 100%; */
}
#footer_table2 table td {
    padding: 8px 10px;
}
.last_footer
{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    font-size: smaller;
}
.whitebox_div1
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 70px 70px 70px;
}
.whitebox_div1b
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
    border-bottom: 1px black solid;
   
}
#whitebox_button{
    background-color: #17C1A3;
    border: none;
    border-radius: 5px;
}
